body {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: center;
    font-family: 'Times New Roman', Times, serif;
}

.grid {
    display: flex;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(20, 20px);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: gray;
    /* border-radius: 5px;
    border-color: black; */
}

#gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.snake {
    background-color: green;
    width: 20px;
    height: 20px;
    position: absolute;
}

.food {
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
}
