h1 {
    font-size: 50px;
    /* text-decoration: underline; */
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-color: white;
    text-align: center;
}

#message {
    font-size: 24px;
    margin-bottom: 5%;
}

#scoreboard {
    margin-bottom: 2%;
    font-size: 30px;
}

#gameboard {
    height: 500px;
    width: 500px;
    border: 2px;
    border-radius: 5px;
    border-color: black;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    background-color: gray;
}

.snakebody {
    background-color: green;
    border-color: 1px black;
    border: 1px;
}

.food {
    background-color: red;
    border: 1px;
    border-radius: 50%;
}

#startButton {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
}

#pauseButton {
    margin-top: 20px;
    margin-right: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
}

#resetButton {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
}